.cancelamento-bg {
  position: fixed;
  background-color: var(--c8);
  width: 100vw;
  height: 100vh;
}

.cancelamento {
  background-color: var(--w);
  border-radius: 40px;
  max-width: fit-content;
  margin-top: 360px;
  padding: 40px;

  display: flex;
  flex-direction: column;
}

.cancelamento-botoes {
  display: flex;
  gap: 16px;
  justify-content: end;
}

.cancelamento .titulo2 {
  margin-bottom: 28px;
}

.cancelamento .botao4 {
  align-self: flex-end;
}
