/* input */
.reagendamento-form select {
  appearance: none;
}

.reagendamento-form .select {
  display: block;
  width: 200px;
  border: 2px solid var(--c2);
  border-radius: 40px;
  padding: 14px;
  width: 280px;
  background: url("../../img/icones/seta-para-baixo.svg") no-repeat center right
    14px;
}

.reagendamento-form .select:focus {
  outline: none;
  border: 2px solid var(--c9);
}

/* exibição da tela */
.reagendamento-bg {
  position: fixed;
  background-color: var(--c8);
  width: 100vw;
  height: 100vh;
}

.reagendamento {
  background-color: var(--w);
  border-radius: 40px;
  max-width: 800px;
  margin-top: 320px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reagendamento-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.reagendamento .botao4 {
  align-self: flex-end;
}
