.usuario-bg {
  background: url("../../img/usuario/Usuario-bg.png") no-repeat;
  background-size: cover;
  padding-top: 20px;
}

.usuario-intro {
  padding-top: 120px;
  padding-bottom: 120px;
}

.usuario-intro .titulo2 {
  margin-bottom: 12px;
}

.usuario-lista-bg {
  background-color: var(--c1);
}

.usuario-lista {
  padding-top: 72px;
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.usuario-lista-item {
  background-color: var(--w);
  border-radius: 40px;
  padding: 32px 48px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 32px;
  align-items: center;
}

.usuario-lista-item-icones {
  display: flex;
  gap: 20px;
  justify-content: end;
}
